/* **********     Reset CSS     ********** */
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #c797eb;
    --second-color: #222;
    --main-modal-color: #c797eb9c;
    --second-modal-color: rgba(34, 34, 34, 0.85);
    --container-width: 1200px;
  }
  
  html {
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body {
    margin: 0;
    overflow-x: hidden;
  }
  
  img,
  video {
    max-width: 100%;
    height: auto;
  }
/*------------------ menu hamburguesa--------------- */
.header {
    position: sticky;
    z-index: 997;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
  }
  .header h1 {
    margin: 0 auto;
    text-align: center;
  }

  .section {
    padding: 4rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
  }
  .panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    background-color: var(--second-modal-color);
    transition: transform 0.3s ease, opacity 0.5s ease;
    /* de arriba */
    transform: translate(0,-100%);
    /* de abajo */
    transform: translate(0, 100%);
    /* De la derecha */
    transform: translate(100%, 0);
    /* De la izquierda */
    transform: translate(-100%, 0);
  }

  .panel.is-active {
    transform: translate(0, 0);
    opacity: 1;
    visibility: visible;
  }

  .panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--main-color);

  }
  
  .menu {
    width: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
  
  .menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
  }
  
  .menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
  }

  /* button */

  .custom-btn {
    margin: 20px;
    width: 130px;
    height: 40px;
    color: #180528;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-8 {
    background-color: #f0ecfc;
    background-image: linear-gradient(315deg, #f0ecfc 0%, #c797eb 74%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-8:before,
  .btn-8:after {
  position: absolute;
  content: "";
  right: 0;
  bottom: 0;
  background: #c797eb;
  /*box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .2), 
    inset -4px -4px 6px 0 rgba(255,255,255,.5),
    inset 4px 4px 6px 0 rgba(116, 125, 136, .3);*/
  transition: all 0.3s ease;
}
.btn-8:before{
   height: 0%;
   width: 2px;
}
.btn-8:after {
  width: 0%;
  height: 2px;
}
.btn-8:hover:before {
  height: 100%;
}
.btn-8:hover:after {
  width: 100%;
}
.btn-8:hover{
  background: transparent;
}


/* eventos del teclado */

.stage {
  display: flex;
  min-height: 50vh;
  background-color: var(--second-color);
  border-color: white;
  border-style: solid;
}

.ball{
  margin: auto;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  background-color: var(--main-color);
}

/* scroll top btn */

.scroll-top-btn{
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  right: calc(4.25rem + 1vw);
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  
}

.scroll-top-btn:hover{
  background-color: var(--second-color);
  color: var(--main-color);
} 

.hidden{
  visibility:  hidden;
  opacity: 0;
}

/* dark-theme-btn */
.dark-theme-btn{
  position: fixed;
  z-index: 999;
  bottom: 1vh;
  left: 1vw;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: bold;
  background: var(--main-color);
  color: var(--second-color);
  cursor: pointer;
  outline: 0;
  border: 0;
  
}
.dark-theme-btn:hover{
  background-color: var(--second-color);
  color: var(--main-color);
} 

.dark-mode{
  background-color: var(--second-color);
  color: var(--main-color);
}